body, html {
    width: 500px;
    height: 350px;
    font-family: "Lucida Console", monospace;
    background-color: rgb(6, 2, 25);
}

/*Sun*/
div1 {
    position: absolute;
    top: 62px;
    right: 300px;
}

/*Earth*/
div2 {
    position: absolute;
    top: 200px;
    right: 200px;
}

/*Moon*/
div3 {
    position: absolute;
    top: 230px;
    right: 320px;
}

div4 {
    text-align: right;
}


/* Dotted Rocket Line*/
div5 {
    position: absolute;
    bottom: 85px;
    left: 423px;
}

/*Rocket*/
div6 {
    position: absolute;
    top: 220px;
    right: 2.5px;
}


.p1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: monospace;
    color:antiquewhite;
    size: 15px; ;
  }
