body, html {
    width: 500px;
    height: 350px;
    font-family: "Lucida Console", monospace;
    background-color: rgb(6, 2, 25);
}



/*Sun*/
div1 {
    position: absolute;
    top: 62px;
    right: 300px;
    
}

/*Earth*/
div2 {
    position: absolute;
    top: 200px;
    right: 200px;
}


/*Moon*/
div3 {
    position: absolute;
    top: 200px;
    right: 200px;
}


